@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato/lato-regular-webfont.eot');
    src: url('../fonts/lato/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato/lato-regular-webfont.woff2') format('woff2'),
         url('../fonts/lato/lato-regular-webfont.woff') format('woff'),
         url('f../onts/lato/lato-regular-webfont.ttf') format('truetype'),
         url('../fonts/lato/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latoblack';
    src: url('../fonts/lato/lato-black-webfont.eot');
    src: url('../fonts/lato/lato-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato/lato-black-webfont.woff2') format('woff2'),
         url('../fonts/lato/lato-black-webfont.woff') format('woff'),
         url('../fonts/lato/lato-black-webfont.ttf') format('truetype'),
         url('../fonts/lato/lato-black-webfont.svg#latoblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source-sans-pro';
    src: url('../fonts/source-sans-pro/source-sans-pro-regular.eot');
    src: url('../fonts/source-sans-pro/source-sans-pro-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/source-sans-pro/source-sans-pro-regular.woff') format('woff'),
         url('../fonts/source-sans-pro/source-sans-pro-regular.ttf') format('truetype'),
    font-weight: normal;
    font-style: normal;

}

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #F7F8FA;
  background-color: #F7F8FA;
}

.reveal {
  font-family: "latoregular", sans-serif;
  font-weight: normal;
  color: #333;
  color: rgba(0,0,0,0.5);
}

.reveal .slides {
  margin: 0;
  min-height: 100%;
  min-width: 100%;
}

.reveal section {
  height: calc(100% - 40px) !important;
  width: calc(100% - 40px) !important;
  min-height: calc(100% - 40px) !important;
  min-width: calc(100% - 40px) !important;
  padding: 20px !important;
}

.reveal section img.detail {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.reveal pre {
  display: block;
  text-align: left;
  font-size: 1em;
  font-family: 'source-sans-pro', monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }

.reveal pre code {
  display: block;
  overflow: auto;
  word-wrap: normal;
}

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  font-weight: normal;
  font-size: 100%;
  margin:0;
  padding:0;
  font-family: 'latoblack', sans-serif;
}

.reveal h1 {
  color:#333;
  font-size: 2em; }

.reveal h2 {
  font-size: 1.7em; }

.reveal h3 {
  font-size: 1.4em; }

.reveal h4 {
  font-size: 1em; }

.reveal h1 {
  text-shadow: none; }

.reveal h1 strong {
  color: #62A852;
}
.reveal p {
  font-size: 1em;
}

/* INTRO
 * --------------------------------------- */
.reveal section.intro {
  background-repeat:repeat-x;
  background-position: left 70px;
  background-image: url("../images/creca.png");
  display: flex !important;
  flex-direction: column;
  justify-content: center;
}

.reveal section.intro .logo {
  align-self: center;
  margin-top: 15%;
}

.reveal section.intro h1 {
  font-size: 3.6em;
  background-repeat:no-repeat;
  background-position: center top;
  background-image: url("../images/border-h1.png");
  line-height: 100%;
  padding-top: 15px;
  margin-top: 10%;
}

.reveal section.intro .fecha {
  color:#fff;
  background-color: #62A852;
  padding: 20px;
  margin-top: 10%;
}

/* GREEN BACKGROUND
 * --------------------------------------- */
.reveal section.green {
  background-repeat: no-repeat;
  background-position: right top;
  background-color: #62A852;
  background-image: url("../images/corner.png");
  color: #fff;
}

.reveal section.green h1 {
  text-align: left;
  background-repeat:no-repeat;
  background-position: left top;
  background-image: url("../images/border-h1-white.png");
  line-height: 100%;
  padding-top: 15px;
  margin-top: 20px;
  margin-bottom: 12px;
}

.reveal section.green h1 strong {
  color: #fff;
}

.reveal section.green h2 {
  font-family: "latoregular", sans-serif;
  text-align: left;
  font-size: large;
  font-weight: normal;
  margin-bottom: 40px;
  margin-left: 12px;
}

.reveal section.green li {
  text-align: left;
  margin-left: 20px;
  margin-top: 12px;
  font-size: x-large;
}

.reveal section.green ul {
  margin-left: 50px;
  margin-right: 50%;
}

.reveal section.green p {
  text-align: left;
  margin-left: 40px;
  margin-bottom: 12px;
  font-size: x-large;
  max-width: calc(100% - 300px);
}

.reveal section.green code {
    background-color: black;
    margin-bottom: 12px;
}

.reveal section.green pre {
    margin-left: 40px;
    margin-right: 40px;
}


/* WHITE BACKGROUND
 * --------------------------------------- */
.reveal section.white {
  background-repeat: no-repeat;
  background-position: right top;
  background-image: url("../images/corner.png");
}

.reveal section.white h1 {
  text-align: left;
  background-repeat:no-repeat;
  background-position: left top;
  background-image: url("../images/border-h1.png");
  line-height: 100%;
  padding-top: 15px;
  margin-top: 20px;
  margin-bottom: 12px;
}

.reveal section.white h1 strong {
  color: #62A852;
}

.reveal section.white h2 {
  font-family: "latoregular", sans-serif;
  text-align: left;
  font-size: large;
  font-weight: normal;
  margin-bottom: 40px;
  margin-left: 12px;
}

.reveal section.white li {
  text-align: left;
  margin-left: 20px;
  margin-top: 12px;
  font-size: x-large;
}

.reveal section.white ul {
  margin-left: 40px;
  margin-right: 35%;
}

.reveal section.white p {
  text-align: left;
  margin-left: 40px;
  margin-bottom: 12px;
  font-size: x-large;
}

.reveal section.white code {
    background-color: black;
    margin-bottom: 12px;
}

.reveal section.white pre {
    margin-left: 40px;
    margin-right: 40px;
}



/* .CHARTS
 * --------------------------------------- */

.reveal section .charts {
  padding: 0px;
  display: flex;
}

.reveal section .charts li {
  list-style: none;
  text-align: center;
  border-left: 1px solid #ddd;
}
.reveal section .charts li h3 {
  color: #333;
  font-size:1.2em;
}
.reveal section .charts li p {
  font-size:1em;
}

.reveal section .charts .item {
    position: relative;
    float: left;
}

.reveal section .charts .item h2 {
    font-family: 'latoblack', sans-serif;
    color: #333;
    padding: 0;
    text-align:center;
    font-weight: bold;
    position: absolute;
    line-height: 250px;
    width: 100%;
}

.reveal section .charts svg {
    transform: rotate(-90deg);
}

.reveal section .charts .circle_animation {
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}
